{% extends "base.html" %}
{% block title %}FAQs - 010 Café{% endblock %}
{% block content %}
    <h1>Frequently Asked Questions (FAQs) 📚✨</h1>

    <div style="text-align: left; width: 100%; min-height: 80vh; padding: 20px; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <p><strong>Where are you located? 🌍</strong> - 30558 Heald Street (Esihlahleni) Daveyton 1520 🏠</p>
        <p><strong>What are your operating hours? ⏰</strong> - 10am-9pm daily [incl. holidays] 📅</p>
        <p><strong>Do you deliver? 🚚</strong> - Yes we deliver ✅</p>
        <p><strong>Do you have a Loyalty Program? 🎁</strong> - Coming soon ⏳</p>
        <p><strong>Allergen Details? ⚠️</strong> - Our Kotas may contain dairy and gluten. Chicken Menu is dairy-free 🐔</p>
        <p><strong>Can I make a special request? 🎉</strong> - Absolutely! Please contact us for a special request 📞</p>
        <p><strong>What are your Payment Options? 💳</strong> - Cash/Card, In-App, EFT 💸</p>
        <p><strong>Can I make a reservation? 📅</strong> - Yes ✅</p>
        <p><strong>Your most popular dishes? 🍗</strong> - Our Chicken, Rib Kota, Kream Dala Kream, Babalazi Chips, Proper Dagwood and Weighed Meat 🎊</p>
        <p><strong>Do you have parking and covered shelter? 🅿️</strong> - Plenty of parking and plenty of covered shelter ☂️</p>
    </div>

    <a href="/">Back ⬅️</a>
{% endblock %}