{% extends "base.html" %}
{% block title %}FAQs - 010 Café{% endblock %}
{% block content %}
    <h1>Frequently Asked Questions (FAQs) 📚✨</h1>
    <ul>
        <li><strong>Where are you located? 🌍</strong><br>30558 Heald Street (Esihlahleni) Daveyton 1520 🏠</li>
        <li><strong>What are your operating hours? ⏰</strong><br>10am-9pm daily [incl. holidays] 📅</li>
        <li><strong>Do you deliver? 🚚</strong><br>Yes we deliver ✅</li>
        <li><strong>Do you have a Loyalty Program? 🎁</strong><br>Coming soon ⏳</li>
        <li><strong>Allergen Details? ⚠️</strong><br>Our Kotas may contain dairy and gluten. Chicken Menu is dairy-free 🐔</li>
        <li><strong>Can I make a special request? 🎉</strong><br>Absolutely! Please contact us for a special request 📞</li>
        <li><strong>What are your Payment Options? 💳</strong><br>Cash/Card, In-App, EFT 💸</li>
        <li><strong>Can I make a reservation? 📅</strong><br>Yes ✅</li>
        <li><strong>Your most popular dishes? 🍗</strong><br>Our Chicken, Rib Kota, Kream Dala Kream, Babalazi Chips, Proper Dagwood and Weighed Meat 🎊</li>
        <li><strong>Do you have parking and covered shelter? 🅿️</strong><br>Plenty of parking and plenty of covered shelter ☂️</li>
    </ul>
    <p><a href="{{ url_for('home') }}">Back ⬅️</a></p>
{% endblock %}