{% extends "base.html" %}
{% block title %}Store Location - 010 Café{% endblock %}
{% block content %}
    <h1>Store Location 🏠🌍</h1>

    <div style="text-align: center; padding: 20px;">
        <p>📍 <strong>Address:</strong> 30558 Hield Street (Esihlahleni) Daveyton 1520 🏡</p>
        <p>📡 <strong>GPS Coordinates:</strong> <a href="https://www.google.com/maps?q=-26.163234688103888,28.399836990864447" target="_blank">-26.163234688103888, 28.399836990864447 🌐</a></p>
    </div>

    <a href="/">Back ⬅️</a>
{% endblock %}